# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environnement virtuel
venv/
ENV/

# Fichiers de données
*.csv
*.xlsx
*.xls

# Fichiers de sauvegarde
*.pkl
*.h5
*.model

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db 